/*Larnelle Letts*/

    
    h1 
	{color: firebrick;
     text-align: center;
     font-size: 70px;
     text-shadow: 2px 2px 5px white;
	 border-radius: 10px;
	 margin: 10px;
	 background: linear-gradient(to bottom right, lightblue, white);
        
    }
    
     
     
     
     
